<%
	const universalMargin = "M0;0;5u"
	const css = {
		linkSect:`${universalMargin} P0;5u W49p md_W30p D-f Fld-r Flw-w Jc-fs md_Jc-c Ai-fs md_Ai-fs md_P0;3u `,
		ul:` ${universalMargin} P0 Lsst-n W70p`,
		li:"M0;0;2u",
		link:"Txd-n C-$gray200 C-$brand_h Tsd-$shortTs",
		universalMargin:"M0;0;5u"
	}
%>
<footer class="D-f Jc-c Ai-c W100p Bgc-$core850 P8u;0" >
	<div class="W100p sm_W60p md_W100p C-$gray200 D-f Fld-r Flw-w Jc-c md_P0;8u">
		<section class="W100p md_W26p P0;5u ">
			<p class="M0;0;5u Fns4u lg_Fns5u xl_Fns6u P0;1u">
				<span class="Fnw-b C-$brand"> mlut </span> - make CSS exciting again!
			</p>
		</section>

		<section class="<%= css.linkSect %> ">
			<div>
				<h3 class="<%= universalMargin %>">
					Product
				</h3>
				<ul class="<%= css.ul %>">
					<% for (let navLink of it.navLinks) { %>
						<li class="<%= css.li %>">
							<a href="<%= navLink.link %>" class="<%= css.link %>">
								<%= navLink.text%>
							</a>
						</li>
					<%} %>
				</ul>
			</div>
		</section>

		<section class="<%= css.linkSect %> ">
			<div>
				<h3 class="<%= universalMargin %>">
					Learn more
				</h3>

				<ul class="<%= css.ul %>">
					<% for (let extLink of it.extLinks) {%>
						<li class="<%= css.li %>">
							<a href="<%= extLink.link %>" class="<%= css.link %>">
								<%= extLink.name %>
							</a>
						</li>
					<% } %>
				</ul>
			</div>
		</section>

		<section class="W100p D-f P0;5u Fld-c Ai-c Jc-fs md_Jc-c ">
			<p class="C-$gray100 Txa-l M0 ">
				© 2025 mlut contributors. All rights reserved.
			</p>
			<p class="C-$gray100 Txa-l M0 ">
				Sass logo is used under the
				<a class="C-$brand Txd-u Tsd-$shortTs"
				  href="https://sass-lang.com/styleguide/brand/">
					 Sass Brand Guidelines
				</a>
			</p>
		</section>
	</footer>
</div>