<%
	it.css = {
		linkSect:"P5u md_P0;3u D-f Fld-c Jc-fs Ai-fs",
		ul:"P0 Lsst-n",
		li:"P1u;0",
		link:"Txd-n C#d1d5db C-$brand_h Tsd-$shortTs",
	}
%>
<footer id="footer"
	class="P8u;0 W100p Bgc-$core850 C#d1d5db D-g Gtc1fr;1fr Gtr0.2fr;1fr;0.2fr Gap2u  md_Gtc0.5fr;1.2fr;1fr;1fr;0.5fr md_Gtr1fr;0.2fr md_Gap5u" >

  <section class="W90p M-a Gcs1 Gce3 Grs1 Gre2 md_Gcs2 md_Gce3 ">
		<picture class="D W40p Mxw30u P2u;1u xl_Mxw56u
			xxl_Mxw63u">
			<source srcset="/assets/img/logo.png" rel="img/png">
			<img class="D" alt="mlut logo" src="/assets/img/logo.png">
		</picture>
		<h3 class=" M0 P5u;0 Fns4u md_P5u;15u;5u;0">
			Atomic CSS framework for modern web development
		</h3>
	</section>

	<section class="<%= it.css.linkSect%>  Gcs1 Gce2 Grs2 Gre3 md_Grs1 md_Gre2 md_Gcs3 md_Gce4">
		<h3 class="M0">
			Product
		</h3>
		<ul class="<%= it.css.ul%>">
			<li class="<%= it.css.li%>">
				<a href="#features"
            class="<%= it.css.link%>">
            Features
        </a>
			</li>
			<li class="<%= it.css.li%>">
				<a href="#examples"
            class="<%= it.css.link%>">
            Examples
        </a>
			</li>
			<li class="<%= it.css.li%>">
				<a href="https://mlutcss.github.io/mlut/"
            class="<%= it.css.link%>">
            Docs
        </a>
			</li>
		</ul>
	</section>

	<section class="<%= it.css.linkSect%> Gcs2 Gce3 Grs2 Gre3 md_Grs1 md_Gre2 md_Gcs4 md_Gce5">
		<h3 class="M0">
			Find us
		</h3>
		<ul class="<%= it.css.ul%>">
			<li class="<%= it.css.li%>">
				<a href="https://github.com/mlutcss/mlut"
            class="<%= it.css.link%>">
            GitHub
        </a>
			</li>
			<li class="<%= it.css.li%>">
				<a href="https://x.com/mlutcss"
            class="<%= it.css.link%>">
            Twitter
        </a>
			</li>
		</ul>
	</section>

	<section class="W100p Gcs1 Gce3 Grs3 Gre4 md_Gcs1 md_Gce6 md_Grs2 md_Gre3 D-f Jc-c Ai-c">
		<p class="C#d1d5db*50p Txa-c M0">
			© 2025 mlut CSS Framework. All rights reserved.
		</p>
	</section>
</footer>