<%
	const css = {
		linkSect:"P5u W49p md_W31p D-f Fld-r Flw-w Jc-fs md_Jc-c Ai-fs md_Ai-fs md_P0;3u md_W30p",
		ul:"P0 Lsst-n W70p",
		li:"P1u;0",
		link:"Txd-n C#d1d5db C-$brand_h Tsd-$shortTs",
	}
%>
<footer class="D-f Jc-c Ai-c" >
	<div class="P8u;0 W100p sm_W60p md_W100p md_P8u Bgc-$core850 C#d1d5db D-f Fld-r Flw-w Jc-c md_P8u">
		<section class="W100p md_W26p P0;5u ">
			<img class="D W50p Mxw30u P2u;1u xl_Mxw56u xxl_Mxw63u" alt="mlut logo" src="/assets/img/logo.png">
			<h3 class=" M0 P5u;0 Fns4u md_P5;0;5u;0">
				Atomic CSS framework for modern web development
			</h3>
		</section>

		<section class="<%= css.linkSect %> ">
			<div>
				<h3 class="M0">
					Product
				</h3>
				<ul class="<%= css.ul %>">
					<% for (let navLink of it.navLinks) { %>
						<li class="<%= css.li %>">
							<a href="<%= navLink.link %>" class="<%= css.link %>">
								<%= navLink.text%>
							</a>
						</li>
					<%} %>
				</ul>
			</div>
		</section>

		<section class="<%= css.linkSect %> ">
			<div>
				<h3 class="M0">
					Learn more
				</h3>

				<ul class="<%= css.ul %>">
					<% for (let extLink of it.extLinks) {%>
						<li class="<%= css.li %>">
							<a href="<%= extLink.link %>" class="<%= css.link %>">
								<%= extLink.name %>
							</a>
						</li>
					<% } %>
				</ul>
			</div>
		</section>

		<section class="W100p D-f P3u;5u Ai-c Jc-fs md_Jc-c ">
			<p class="C#d1d5db*50p Txa-l M0 ">
				© 2025 mlut CSS Framework. All rights reserved.
			</p>
		</section>
	</footer>
</div>