
<article class=" <%= it.bg %> <%= it.bgH%> P7u Bdrd2u Mxw450 Tsd0.5s
	md_W40p	 lg_W30p Tf_h -Sx105p_h -Sy105p_h -Ctx-card Zi2_h">

	<div class="<%=it.logoBg%> W15u Apcr1 D-f Jc-c Ai-c Bdrd4u
		^card:h_Tf ^card:h_-Rt30deg Tsd-$longTs">
		<div class="W50p">
			<svg xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24"
				class="St#fff Stw2 Fi-n W100p">
				<use href="/assets/img/icons.svg#<%= it.logo%>"></use>
			</svg>
		</div>
	</div>

	<h3 class="<%=it.headC%> Fns5.2u">
		<%= it.title %>
	</h3>
	<p class="<%=it.textC%> Fns4.3u">
		<%= it.text %>
	</p>

</article>

<!--  -->