
<%
	let iconWidth
	if (it.img === "angled-brackets"){
		iconWidth = "W50p"
	} else {
		iconWidth = "W70p"
	}
%>
<<%= it.optTag || "li"%> class=" <%= it.bg %> <%= it.bgH %> P7u Bdrd2u Mxw110u D-g Gtr1fr;1fr Tsd0.5s
	md_W40p lg_W30p Tf_h -S105p_h -Ctx-card Zi2_h">
	<div class="Grs1 Gre2">
		<div class="<%=it.imgBg %> W15u M0;a;5u Apcr1 D-f Jc-c Ai-c Bdrd4u
			^card:h_Tf ^card:h_-Rt30deg Tsd-$longTs">
			<div class="<%= iconWidth %> ">
				<svg xmlns="http://www.w3.org/2000/svg"
					class="St#fff Stw2 Fi-n W100p Apcr1 ">
					<use href="/assets/img/icons.svg#<%= it.img %>"></use>
				</svg>
			</div>
		</div>

		<h3 class="<%= it.headC %> Fns5.2u M0;0;5u Txa-c">
			<%= it.title %>
		</h3>
	</div>

	<div class="Grs2 Gre3">
		<p class="<%= it.textC %> Fns4.3u M0">
			<%= it.text %>
		</p>
	</div>

</<%= it.optTag || "li"%>>

<!--  -->