<%
	 const css = {
		buttonShape:"-Sz100p D-f Jc-c Ai-c P0;3u Fns0.8r Bdrd1u Ts-$shortTs Bd1;s;$brand",
		contentContainer: "D-f Jc-c Ai-c Fld-r Gap3u Fns1.1r ",
		iconContainer: "D Apcr1 W0.9r",
		icon:"D W100p Mxw25u Apcr1 Stw2",
		span:"D Fns0.9r "
	}

	href=`href=${it.url}`

	if (it.variant === 'dark'){
		css.buttonColors = "Bgc-n C-$brand Bgc-$brand200_h";
		css.svgColors = "Fi-n St-$brand";
	} else {
		css.buttonColors = "Bgc-$brand Bgc-$brand500_h C#fff";
		css.svgColors = " Fi-$brand St#fff";
	}

	if (!it.tag) {
		it.tag = 'a'
	} else {
		href = ''
	}
%>
<<%= it.tag %> <%= href %>
	class="btn <%= css.buttonShape %> <%= css.buttonColors %>">
	<% if (it.icon) {%>
		<div class=" <%= css.contentContainer %>">
			<div class="<%= css.iconContainer %>">
				<svg xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					class="<%= css.icon %> <%= css.svgColors %>">
					<use href="/assets/img/icons.svg#<%= it.icon %>"></use>
				</svg>
			</div>
			<span class="<%= css.span %> button-text">
				<%= it.text %>
			</span>
		</div>
	<% } else { %>
		<div class="<%= css.contentContainer%>">
			<span class="<%= css.span %> button-text">
				<%= it.text %>
			</span>
		</div>
	<% } %>
</<%= it.tag %>>

