<%
	css = {
		eyebrow:"W25p H5p -Bdbrd1u -Gdl0d,$flushedBrown500,$flushedBrown700 Ps-a T15p Tf -Bdtrd5u",
		eyeSocket:"-Sz35p Bdrd100p Bd1;s;$flushedGray700 Bgc-$flushedGray500 Ps-a T30p Bxsd0;0;30;1;$flushedOrange500 Ct_af D_af -Sz100p_af Bdrd100p_af Ps-a_af T0_af L0_af ",
		eyeWhites:"-Sz90p Bdrd100p Bgc-$flushedGray400 M-a Ps-r",
		pupil:"-Sz32p Bdrd100p Bgc-$flushedGray900 Ps-a L34p T40p",
		sparkle:"-Sz15p Ps-a Bgc-$flushedGray400 T7p R7p"
	}
%>
<%# canva %>
  <div class="Ctnt-s H100p Apcr1 Ctnn-canva D-f Plci-c;c Plcc-c">

    <%# Head %>
    <div class="Apcr1 Bdrd100p Bd2;s;$flushedOrange900 Bgc-$flushedOrange800  @c:canva:apcr>=1/1_H70p @c:canva:apcr<=1/1_W70p">
      <div class="Apcr1 W99p Bdrd100p Bd2;s;$flushedOrange700 -Gdl0d,$flushedOrange700;1p,$flushedOrange500;40p,$flushedOrange400;70p,$flushedOrange100;100p Ps-r Ov-h M-a">

        <%# Eyebrows%>
        <div class="<%= css.eyebrow %> L12p -Rt-10d">
        </div>
        <div class="<%= css.eyebrow %> R12p -Rt10d ">
        </div>

        <%# Eyes%>
        <div class="<%= css.eyeSocket %> L10p Bxsd-15;35;6u;1;$flushedOrange850_af">

          <div class="<%= css.eyeWhites %>">
            <div class="<%= css.pupil %>">
              <div class="<%= css.sparkle %>">
              </div>
            </div>
          </div>
        </div>

        <div class=" <%= css.eyeSocket %> R10p Bxsd15;35;6u;1;$flushedOrange850_af">
          <div class="<%= css.eyeWhites %>">
            <div class="<%= css.pupil %>">
              <div class="<%= css.sparkle %>">
              </div>
            </div>
          </div>
        </div>

        <%# Mouth %>
        <div class="W24p H8p -Gdl0d,$flushedBrown500,$flushedBrown700 Bdrd8u Ps-a
        B15p L38p">
        </div>
      </div>
    </div>
  </div>