<%
	backgroundPart = "Apcr1 Ps-a T25p L25p @c:canva:apcr>=1_H180p  @c:canva:apcr<=1_W180p  Bgr-nr"
%>
<div class="Ps-r H100p Apcr1 M-a Plci-c;c Plcc-c Ctnn-canva Ctnt-s -Trx-60p -Try-50p Tf">

	<%# right-white2 %>

  <div class=" <%= backgroundPart %>
      -Gdl-60deg,tp;14.5p,#fff;14.5p,#fff;40%,tp;40p Bgp61.8p;57p
      Bgs17p;4p">
  </div>

	<%# left-black %>

  <div class=" <%= backgroundPart %>
    -Gdl-60deg,tp;19.5p,#444;19.5p,#444;32p,tp;32p Bgp0p;34.5p
    Bgs50p;30.4p" >
  </div>

	<%# right-gray %>

  <div class=" <%= backgroundPart %>
      -Gdl60deg,tp;20p,#aaa;20p,#aaa;26.5p,tp;26.5p Bgp95.6p;40.9p
      Bgs50p;30.3p">
  </div>

	<%# right-white1 %>

  <div class=" <%= backgroundPart %>
      -Gdl60deg,tp;18.7p,#fff;18.7p,#fff;24.9p,tp;24.9p Bgp100p;28p
      Bgs50p;37.5p">
  </div>

	<%# left-white %>

  <div class=" <%= backgroundPart %>
    -Gdl-60deg,tp;18.5p,#fff;18.5p,#fff;25p,tp;25p Bgp0;33p
    Bgs50p;30.5p" >
  </div>

	<%# bottom-black %>

  <div class=" <%= backgroundPart %>
     -Gdl60deg,#444;0p,#444;37p,tp;37p Bgp107p;52p
     Bgs70.5p;5p" >
  </div>

	<%# bottom-gray %>

  <div class="<%= backgroundPart %>
      -Gdl60deg,tp;6p,#aaa;6p,#aaa;55p,tp;55p Bgp67.2p;56.8p
      Bgs59.5p;4.55p">
  </div>

</div>