<%
	backgroundPart = "Apcr1 Ps-a @c:canva:apcr>=1_H50p  @c:canva:apcr<=1_W50p  Bgr-nr"
%>
<div class="Ps-r W100p Apcr1 M-a D-f Jc-c Ai-c Ctnn-canva Ctnt-s
	-S180p -Try10p Tf">

	<%# right-white2 %>

  <div class=" <%= backgroundPart %>
      -Gdl-60deg,tp;14.5p,#fff;14.5p,#fff;40%,tp;40p Bgp62.2p;56.8p
      Bgs17p;3.7p">
  </div>

	<%# left-black %>

  <div class=" <%= backgroundPart %>
    -Gdl-60deg,tp;19.5p,#444;19.5p,#444;32p,tp;32p Bgp0p;34.5p
    Bgs50p;30.5p" >
  </div>

	<%# right-gray %>

  <div class=" <%= backgroundPart %>
      -Gdl60deg,tp;20p,#aaa;20p,#aaa;26.5p,tp;26.5p Bgp95.6p;40.9p
      Bgs50p;30.3p">
  </div>

	<%# right-white1 %>

  <div class=" <%= backgroundPart %>
      -Gdl60deg,tp;19p,#fff;19p,#fff;24.9p,tp;24.9p Bgp100p;28p
      Bgs50p;37.5p">
  </div>

	<%# left-white %>

  <div class=" <%= backgroundPart %>
    -Gdl-60deg,tp;18.5p,#fff;18.5p,#fff;25p,tp;25p Bgp0;33p
    Bgs50p;30.5p" >
  </div>

	<%# bottom-black %>

  <div class=" <%= backgroundPart %>
     -Gdl60deg,#444;0p,#444;37p,tp;37p Bgp107p;52p
     Bgs70.5p;5p" >
  </div>

	<%# bottom-gray %>

  <div class="<%= backgroundPart %>
      -Gdl60deg,tp;6p,#aaa;6p,#aaa;55p,tp;55p Bgp67p;56.75p
      Bgs59p;4.55p">
  </div>

</div>