<header class="
  D-f Jc-sb Ai-c P1u;3u Bgc-$headerBgc -Blr4 Bcf-$blr Ps-f H-$headerH
  W100p C-$headerC Zi20">
	<div class="W40p
		md_W25p md_Flg0.25">
		<a href="#hero-page" class="Mxw25u D">
			<picture class="D P1u;2u">
				<source srcset="/assets/img/logo.png" rel="img/png">
				<img class="D Mxw25u W70p sm_W85p md_W100p" alt="mlut logo" src="/assets/img/logo.png">
			</picture>
		</a>
	</div>

	<nav id="desktop-menu"
		class="Jc-c Ai-c Flg0.5 C-$headerFontC W50p D-n Fns-$headerFns
		md_D-f md_Flg0.5">
  	<a href="/#features" class="D Txd-n M-0;2.5u P1u;3u C-$headerFontC C-$brandC_h
			Ts-$shortTs">
      Features
    </a>
    <a href="/#examples" class="D Txd-n M-0;2.5u P1u;3u C-$headerFontC C-$brandC_h
			Ts-$shortTs">
      Examples
    </a>
    <a href="#arts" class="D Txd-n M-0;2.5u P1u;3u C-$headerFontC C-$brandC_h
			Ts-$shortTs">
      Arts
    </a>
	</nav>

  <div id="mobile-menu"  class="Bxs-bb md_D-n W50p D-f Fld-r Jc-fe">
    <%- include('./burger.ejs') %>
    <%- include('./side.ejs') %>
  </div>

  <div id="desktop-links"
		class="Ai-c Jc-fe P0;2.5u D-n md_D-f H65p
		md_W25p md_Flg0.25 md_Gap2u
		lg_Gap3u">
		<div class="Apcr1 H60p xl_H70p xxl_H80p">
      <%- include('./xcom-logo.ejs') %>
    </div>
    <div class="Apcr1 H60p xl_H70p xxl_H80p">
      <%- include('./github-logo.ejs') %>
    </div>
		<div class="H80p xl_H100p">
			<%- include('../components/link-button.ejs',{
				url:"/",
				text: "Get started",
				icon: "",
				variant:""
			}) %>
		</div>
  </div>
</header>
