<%
	backgroundPart = "Apcr1 T-25p M-a Ps-a Bgr-nr"
%>
<div class="Ps-r -Sz100p Apcr1 D-f Jc-c Ai-c Ctnn-canva Ctnt-s -BlackA#444 -GrayA#747373 -BlueGray#d0d9e7 Ov-h">
	<!-- right-white2 -->
  <div class=" <%= backgroundPart %> @c:canva:apcr>=1_H180p  @c:canva:apcr<=1_W180p
      -Gdl-60deg,tp;14.5p,$blueGray;14.5p,$blueGray;40%,tp;40p Bgp61.8p;57p
      Bgs17p;4p">
  </div>
	<!-- left-black -->
  <div class=" <%= backgroundPart %> @c:canva:apcr>=1_H180p  @c:canva:apcr<=1_W180p
    -Gdl-60deg,tp;19.5p,$blackA;19.5p,$blackA;32p,tp;32p Bgp0p;34.5p
    Bgs50p;30.4p" >
  </div>
	<!-- right-gray -->
  <div class=" <%= backgroundPart %> @c:canva:apcr>=1_H180p  @c:canva:apcr<=1_W180p
      -Gdl60deg,tp;20p,$grayA;20p,$grayA;26.5p,tp;26.5p Bgp95.6p;40.9p
      Bgs50p;30.3p">
  </div>
	<!-- right-white1 -->
  <div class=" <%= backgroundPart %> @c:canva:apcr>=1_H180p  @c:canva:apcr<=1_W180p
      -Gdl60deg,tp;18.7p,$blueGray;18.7p,$blueGray;24.9p,tp;24.9p Bgp100p;28p
      Bgs50p;37.5p">
  </div>
	<!-- left-white -->
  <div class=" <%= backgroundPart %> @c:canva:apcr>=1_H180p  @c:canva:apcr<=1_W180p
    -Gdl-60deg,tp;18.5p,$blueGray;18.5p,$blueGray;25p,tp;25p Bgp0;33p
    Bgs50p;30.5p" >
  </div>
	<!-- bottom-black -->
  <div class=" <%= backgroundPart %> @c:canva:apcr>=1_H180p  @c:canva:apcr<=1_W180p
     -Gdl60deg,$blackA;0p,$blackA;37p,tp;37p Bgp107p;52p
     Bgs70.5p;5p" >
  </div>
	<!-- bottom-gray -->
  <div class="<%= backgroundPart %> @c:canva:apcr>=1_H180p  @c:canva:apcr<=1_W180p
      -Gdl60deg,tp;6p,$grayA;6p,$grayA;55p,tp;55p Bgp67.2p;56.8p
      Bgs59.5p;4.55p">
  </div>
</div>