<%
	BckgroundPart = "Apcr1 T-25p M-a Ps-a Bgr-nr"
%>
<div class="Ps-r -Sz100p Apcr1 D-f Jc-c Ai-c Ctnt-s -ColorA#c12265   -ColorB#0d3479 -ColorC#727675  Ov-h">
	<!-- right-colorC2 -->
  <div class=" <%= BckgroundPart %> @c:apcr>=1_H180p  @c:apcr<=1_W180p -Gdl-60deg,tp;14.5p,$colorC;14.5p,$colorC;40%,tp;40p Bgp61.8p;57p Bgs17p;4p"></div>
	<!-- left-colorA -->
  <div class=" <%= BckgroundPart %> @c:apcr>=1_H180p  @c:apcr<=1_W180p -Gdl-60deg,tp;19.5p,$colorA;19.5p,$colorA;32p,tp;32p Bgp0p;34.5p
    Bgs50p;30.4p" ></div>
	<!-- right-colorB -->
  <div class=" <%= BckgroundPart %> @c:apcr>=1_H180p  @c:apcr<=1_W180p -Gdl60deg,tp;20p,$colorB;20p,$colorB;26.5p,tp;26.5p Bgp95.6p;40.9p Bgs50p;30.3p"></div>
	<!-- right-colorC1 -->
  <div class=" <%= BckgroundPart %> @c:apcr>=1_H180p  @c:apcr<=1_W180p -Gdl60deg,tp;18.7p,$colorC;18.7p,$colorC;24.9p,tp;24.9p Bgp100p;28p Bgs50p;37.5p"></div>
	<!-- left-colorC -->
  <div class=" <%= BckgroundPart %> @c:apcr>=1_H180p  @c:apcr<=1_W180p -Gdl-60deg,tp;18.5p,$colorC;18.5p,$colorC;25p,tp;25p Bgp0;33p Bgs50p;30.5p" ></div>
	<!-- bottom-colorA -->
  <div class=" <%= BckgroundPart %> @c:apcr>=1_H180p  @c:apcr<=1_W180p -Gdl60deg,$colorA;0p,$colorA;37p,tp;37p Bgp107p;52p Bgs70.5p;5p" ></div>
	<!-- bottom-colorB -->
  <div class="<%= BckgroundPart %> @c:apcr>=1_H180p  @c:apcr<=1_W180p -Gdl60deg,tp;6p,$colorB;6p,$colorB;55p,tp;55p Bgp67.2p;56.8p Bgs59.5p;4.55p"></div>
</div>