---
layout: 'base.ejs'
area: Arts
---
<%
	const artsPageCSS = {
		card:"W100p H20gg Tsd-$shortTs @:hv_Tsd-$longTs",
		artWrapper:"-Sz100p Ov-h Plcc-c Plci-c D-f",
		button: "W12gg lg_W9gg Mxw50u xl_Mxw55u H7u"
	}

	function setCtaLength(){
		return it.arts.length % 2 != 0 ? 'md_W50p' : ''
	}

%>
<section class="W100p Bgc-$core800 Pt-$headerH">
	<div>
		<h1 class="M0 Bgc-$core500 C-$accent900 Txa-c Fns7u P10u;0"> Pure CSS art</h1>

		<div class="M-a W100p D-f Fld-r Flw-w Jc-c Ai-c">
			<% it.arts.forEach((art, index) => {%>
				<art-panel class="D Ps -Ctx W100p H20gg -Ts @:hv_Tsd-$longTs md_W50p" id="<%= art.artId %>">
					<div class="-Sz100p Ov-h Plcc-c Plci-c D-f <%= art.bgColor %>">
						<%- include(`./_includes/components/arts/${art.artId}.ejs`) %>
					</div>
					<div class="Ps-a D-f Jc-c Ai-fe P4u Gap3u T0 L0 M0 -Sz100p O0 Vs-h ^:h_Vs-v ^:h_O1 Bd1;s;tp Bgc-$core350 ^:h_Bdc-$brand Tsd500ms">
						<div class="<%= artsPageCSS.button %>">
							<%- include(`./_includes/components/link-button.ejs`, {
								url:`http://play.mlut.style/?art=${art.artId}`,
								text: "Open in sandbox",
								variant: "light"
							}) %>
						</div>
						<div id="<%= art.artId %>-link-button" class="<%= artsPageCSS.button %>" >
							<%- include(`./_includes/components/link-button.ejs`, {
								tag:"button",
								text: "Share",
								variant: "light"
							}) %>
						</div>
					</div>
				</art-panel>
			<% }) %>

			<div class="<%= artsPageCSS.card %> <%= setCtaLength() %> -Ctx P3u">
				<a href="https://github.com/mlutcss/website/fork" target="_blank"
					class="-Sz100p Bd1u;d;$brand200 Bdc-$brand_a @:hv_Bdc-$brand200 @:hv_^:h_Bdc-$brand Bdrd5u Tsd-ih D-f Fld-c Jc-c Ai-c C-$brand Txd-n">
					<svg class="M0;0;5u @:hv_O0.5 @:hv_^:h_O1 Tsd-ih H40p Stw2">
						<use href="/assets/img/icons.svg#add-art"></use>
					</svg>
					<p class="@:hv_O0.5 @:hv_^:h_O1 M0 Tsd-ih Fns5u md_Fns7u"> Add your own art! </p>
				</a>
			</div>
		</div>