---
layout: 'base.ejs'
---
<%
	const sectionHeader = "Txa-c M0;0;5u Fns7u"
	const heroCSS = {
		heroLink: "W70p Mxw50u xl_Mxw55u",
		universalMargin:"M0;0;5u"
	}
%>
<%# Hero-section %>

<div id="hero-page" class="-Gdl120d,$core750,$core650,$core600 H100vh Pt-$headerH D-f Jc-c Ai-c">

	<div class="	D-f Jc-c Ai-c Fld-c wrapper">

		<img class="D Mxw480 <%= heroCSS.universalMargin %> W80p md_W100p"
		 alt="mlut logo" src="/assets/img/logo.png">


		<h1 class="Txa-c C-$accent900 Fns8u Lnh1.1 <%= heroCSS.universalMargin %> P0;1u md_Fns10u">
			Make CSS exciting again!
		</h1>

		<p class="C-$accent850 <%= heroCSS.universalMargin %> P0;2u Txa-c Fns4.4u
			md_Fns5.2u lg_W60p">
			Atomic CSS toolkit with Sass and ergonomics for creating styles of any complexity
		</p>

		<div class="D-f Fld-r W100p Flw-w Jc-c Gap3u <%= heroCSS.universalMargin %> P0;5u">

			<div class="<%= heroCSS.heroLink %>">
				<%- include('./_includes/components/link-button.ejs',{
						url:"https://mlutcss.github.io/mlut/",
						text: "Getting started",
						icon: "book",
						variant: "light"
					})
				%>
			</div>
		</div>
	</div>
</div>

<%# Features section %>

<section id="features" class="Bgc-$core550 C-$accent900">

	<div class="D-f M-a Jc-c Ai-c Fld-c Pt12u Pb12u wrapper">
		<h2 class="<%= sectionHeader %>">
			Why choose mlut?
		</h2>

		<p class="M0 C-$accent850 Txa-c M1u;0 P0;3u">
			We've build a framework that solves real developer problems
		</p>

		<%# Feature cards %>

		<div class="D-f Fld-r Flw-w Jc-c Ai-s Gap5u M5u;0 Tsd-$longTs " >
			<%
				for (let card of it.features) {
			%>
				<%- include('./_includes/components/card.ejs', {
					title: card.title,
					text: card.text,
					img: card.img,
					bg: card.bg,
					bgH: card.bgH,
					imgBg: card.imgBg,
					headC: card.headC,
					textC: card.textC
				}) %>

			<% } %>
		</div>

		<div class="M3u;0 Fns3.2u W100p Mxw62u">
			<%- include('./_includes/components/link-button.ejs',{
				url: "https://mlutcss.github.io/mlut/",
				text: "Learn more",
				icon: "right-triangle"
			}) %>
		</div>
	</div>

</section>


<%# Examples Section %>

<%
	const exampleCard = "W100p Mxw45gg P2u lg_P2u;5u Tsd-$longTs Tf_h -S105p_h Bdrd2u Bd1;s;$accent850"

	const examplesCSS = {
		h3: "C-$brand Txa-c W90p Fns6u M0;a;9u",
		article:"W100p M0;0;10u",
		articleDescription:"M0;a;5u P0;5u C-$accent850 Fns4u md_Fns5u Lnh1.5 md_W80p Txa-c",
		articleContent:"D-f Fld-r Jc-c Flw-w Gap5u W90p M0;a;9u",
		wrongCard: "-Gdl120d,$wrong900,$wrong800 -Gdl120d,$wrong850,$wrong750_h",
		correctCard: "-Gdl120d,$correct900,$correct800 -Gdl120d,$correct850,$correct750_h",
		cardHeader: "C-$accent900 M0;0;3u",
		syntCardPoint:"Ps-r D W100p Mb2u P0;5u Lnh1.6 C-red_b Fns3u_b D-ib_b Ps-a_b T0_b L0_b",
		syntCardList:"M0;0;1u P0;1u Fns3.2u Lsst-n Flg1",
		syntCardHead:"Flg0 Pt3u W100p Mb1u",
		ergonomicCard:`${exampleCard} md_W45p lg_W40p`,
		compactCard:"D-f Mxw35gg Fld-c Jc-c Ai-s Gap5u W100p md_W45p ",
		compactCode:"W100p P3u;2u Tsd-$longTs Tf_h -S105p_h Bdrd2u Bd1;s;$accent850",
		compactH4:"M0;0;3u C-$accent900",
		installLi:"Ps-r M0;0;8u P0;5u C-$brand_m",
		codeWord: "C-$accent900 Bgc-$accent750 Bdrd1u Fnf-mUm P0.2u;1u",
		installStep:"Fnw-b C-$accent850 M0;0;2u D-ib Coi-step Ct-counter(step);'.'_b D-ib_b C-$brand_b"
	}
%>

<section id="examples" class="Bgc-$core700 C-$accent900 Pt15u">

	<div class="D-f M-a Jc-c Ai-c Fld-c P0  wrapper">
		<h2 class="<%= sectionHeader %>">
			Simplicity in action
		</h2>

		<p class="C-$accent850 Txa-c M0;0;6u P0;3u md_Mxw60vw lg_Mxw40vw">
			See how mlut compares to other frameworks with better naming conventions and ergonomics
		</p>

		<%# Naming conventions part%>

		<article class="<%= examplesCSS.article%>">

			<h3 class="<%= examplesCSS.h3%>">
				Strong naming conventions
			</h3>

			<div class="<%= examplesCSS.articleContent%> Ai-s">

				<%# Tailwind card %>

				<div class="<%= exampleCard%> <%= examplesCSS.wrongCard %>">
					<div class="<%=examplesCSS.syntCardHead%>">
						<h4 class="<%= examplesCSS.cardHeader%>">
							Tailwind CSS
						</h4>
					</div>

					<ul class="<%= examplesCSS.syntCardList%>">
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'❌'_b ">
							<span class="<%= examplesCSS.codeWord %>">justify-*</span>: content, items or self?
						</li>
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'❌'_b ">
							<span class="<%= examplesCSS.codeWord %>">flex</span> => <span class="<%= examplesCSS.codeWord %>">display: flex</span>, but <span class="<%= examplesCSS.codeWord %>">flex-auto</span> => <span class="<%= examplesCSS.codeWord %>">flex:1 1 auto</span>
						</li>
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'❌'_b ">
							<span class="<%= examplesCSS.codeWord %>">bg-none</span> => reset all backgrounds? Nope, only <span class="<%= examplesCSS.codeWord %>">background-image</span>
						</li>
					</ul>
				</div>

				<%# Tachyons card%>

				<div class="<%= exampleCard%> <%= examplesCSS.wrongCard %>">
					<div class="<%=examplesCSS.syntCardHead%>">
						<h4 class="<%= examplesCSS.cardHeader%>"> Tachyons</h4>
					</div>

					<ul class="<%= examplesCSS.syntCardList%>">
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'❌'_b ">
							<span class="<%= examplesCSS.codeWord %>">br-0</span> => <span class="<%= examplesCSS.codeWord %>">border-right-width: 0</span>, but <span class="<%= examplesCSS.codeWord %>">br1</span> => <span class="<%= examplesCSS.codeWord %>">border-radius: .125rem</span>
						</li>
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'❌'_b ">
							<span class="<%= examplesCSS.codeWord %>">normal</span>: line-height, font-weight or letter-spacing?
						</li>
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'❌'_b ">
							<span class="<%= examplesCSS.codeWord %>">b</span> => bottom, border, or <span class="<%= examplesCSS.codeWord %>">display: block</span>? No, it's <span class="<%= examplesCSS.codeWord %>">font-weight: bold</span>
						</li>
					</ul>
				</div>

				<%# mlut card %>

				<div class="<%= exampleCard%> <%= examplesCSS.correctCard %>">
					<div class="<%=examplesCSS.syntCardHead%>">
						<h4 class="<%= examplesCSS.cardHeader%>"> mlut </h4>
					</div>

					<ul class="<%= examplesCSS.syntCardList%>">
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'✅'_b">
							<span class="<%= examplesCSS.codeWord %>">Jc-c</span> => <span class="<%= examplesCSS.codeWord %>">justify-content: center</span> and <span class="<%= examplesCSS.codeWord %>">Js-c</span> => <span class="<%= examplesCSS.codeWord %>">justify-self: center</span>
						</li>
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'✅'_b">
							<span class="<%= examplesCSS.codeWord %>">Bdr</span> => <span class="<%= examplesCSS.codeWord %>">border-right: 1px solid</span> and <span class="<%= examplesCSS.codeWord %>">Bdrd1</span> => <span class="<%= examplesCSS.codeWord %>">border-radius: 1px</span>
						</li>
					<ul>
				</div>

			</div>
		</article>

		<%# Ergonomics comparison %>

		<article class="<%= examplesCSS.article%>">

			<h3 class="<%= examplesCSS.h3%>">
				Great ergonomics
			</h3>
			<p class="<%= examplesCSS.articleDescription %>">
				Shorter class names
			</p>
			<div class="<%= examplesCSS.articleContent%>">

				<%# Tailwind card %>

				<div class="<%= examplesCSS.ergonomicCard %> <%= examplesCSS.wrongCard %> ">
					<div class="<%=examplesCSS.syntCardHead%>">
						<h4 class="<%= examplesCSS.cardHeader%>">
							Tailwind CSS
						</h4>
						<%- include('./_includes/components/code-block.ejs',{
							src: "./code-samples/tw1.ejs",
							lang: "html",
						})%>
					</div>
				</div>

				<%# mlut card %>

				<div class="<%= examplesCSS.ergonomicCard %> <%= examplesCSS.correctCard %>">
					<div class="<%=examplesCSS.syntCardHead%>">
						<h4 class="<%= examplesCSS.cardHeader%>"> mlut </h4>
						<%- include('./_includes/components/code-block.ejs',{
							src: "./code-samples/mlut1.ejs",
							lang: "html",
						})%>
					</div>
				</div>

			</div>

			<p class="<%= examplesCSS.articleDescription %>">
				Convenient syntax for complex values, states and at-rules.
			</p>

			<div class="<%= examplesCSS.articleContent%> Ai-s">

				<%# Tailwind card %>

				<div class="<%= examplesCSS.ergonomicCard%> <%= examplesCSS.wrongCard %>">
					<div class="<%=examplesCSS.syntCardHead%>">
						<h4 class="<%= examplesCSS.cardHeader%>">
							Tailwind CSS
						</h4>
					</div>

					<ul class="<%= examplesCSS.syntCardList%>">
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'❌'_b ">
							<span class="<%= examplesCSS.codeWord %>">[@media(any-hover:hover){&:hover}]:opacity-100</span>
						</li>
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'❌'_b ">
							<span class="<%= examplesCSS.codeWord %>">text-[length:var(--myVar,1.3rem)] </span>
						</li>
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'❌'_b ">
							<span class="<%= examplesCSS.codeWord %>">supports-[margin:1svw]:ml-[1svw] </span>
						</li>
					</ul>
				</div>

				<%# mlut card %>

				<div class="<%= examplesCSS.ergonomicCard%>  <%= examplesCSS.correctCard %>">
					<div class="<%=examplesCSS.syntCardHead%>">
						<h4 class="<%= examplesCSS.cardHeader%>"> mlut </h4>
					</div>

					<ul class="<%= examplesCSS.syntCardList%>">
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'✅'_b">
							<span class="<%= examplesCSS.codeWord %>">@:ah_O1_h</span>
						</li>
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'✅'_b">
							<span class="<%= examplesCSS.codeWord %>">Fns-$myVar?1.3</span>
						</li>
						<li class="<%= examplesCSS.syntCardPoint%> Ct-'✅'_b">
							<span class="<%= examplesCSS.codeWord%>">@s_Ml1svw</span>
						</li>
					<ul>
				</div>

			</div>
		</article>


		<%# Compactness comparison%>

		<article class="<%= examplesCSS.article%>">

			<h3 class="<%= examplesCSS.h3%>">
				Compactness and elegance in the flesh
			</h3>
			<p class="<%= examplesCSS.articleDescription %>">
				See how much more code you need to write in default CSS to reproduce the same styles written in <span class="Fnw-b C-$brand"> mlut </span>
			</p>

			<div class="<%= examplesCSS.articleContent%> Ai-fs">

				<%# mlut card %>


				<div class="<%= examplesCSS.compactCard%>">
					<div class="<%=examplesCSS.compactCode%> <%= examplesCSS.correctCard %> 	">
						<h4 class="<%=examplesCSS.compactH4%>"> mlut </h4>
						<%- include('./_includes/components/code-block',{
							src: "./code-samples/mlut2.ejs",
							lang: "html",
						}) %>
					</div>
				</div>

				<%# Traditional CSS card%>

				<div class="<%= examplesCSS.compactCard%>">
					<div class="<%=examplesCSS.compactCode%> <%= examplesCSS.wrongCard %> H100p">
						<h4 class="<%=examplesCSS.compactH4%>"> Traditional CSS</h4>
							<%- include('./_includes/components/code-block',{
								src: "./code-samples/regcss1.ejs",
								lang: "html",
							}) %>
					</div>
				</div>
			</div>

		</article>


		<%# Installation part %>

		<article class="W100p Mb9u ">
			<h3 class="<%= examplesCSS.h3%>">
				Installation
			</h3>
			<div class="Gap5u W100p M-a Mxw175u">
				<ul class="Lsst-n P0 M0 Cor-step">
					<li class="<%=examplesCSS.installLi%>">
						<h4 class="<%= examplesCSS.installStep %>"> Install via npm</h4>
						<%- include('./_includes/components/code-block',{
							src: "./code-samples/install1.ejs",
							lang: "bash",
						}) %>
					</li>
					<li class="<%=examplesCSS.installLi%>">
						<h4 class="<%= examplesCSS.installStep %>"> And run</h4>
						<%- include('./_includes/components/code-block',{
							src: "./code-samples/install2.ejs",
							lang: "bash",
						}) %>
					</li>
					<li class="<%= examplesCSS.installLi %> P5u D-f Fld-c Jc-c Ai-c
						Ct_af D_af W100p_af H1_af Bgc-$brand_af Ps-a_af L0_af T50p_af Zi0_af">
							<p class="Bd1;s;$brand Txa-c D-ib P1u;3u Bdrd5u M0;a Zi1 Bgc-$core550 C-$accent850">
								Or with Sass config and base styles
							</p>
					</li>
					<li class="<%=examplesCSS.installLi%>">
						<h4 class="<%= examplesCSS.installStep %> Cos-step;2"> Create input file</h4>
						<%- include('./_includes/components/code-block',{
							src: "./code-samples/install3.ejs",
							lang: "bash",
						}) %>
					</li>
					<li class="<%=examplesCSS.installLi%>">
						<h4 class="<%= examplesCSS.installStep %>"> Add configuration if you need</h4>
						<%- include('./_includes/components/code-block',{
							src: "./code-samples/install4.ejs",
							lang: "scss",
						}) %>
					</li>
					<li class="<%=examplesCSS.installLi%>">
						<h4 class="<%= examplesCSS.installStep %>"> And run</h4>
						<%- include('./_includes/components/code-block',{
							src: "./code-samples/install5.ejs",
							lang: "bash",
						}) %>
					</li>
				</ul>
			</div>

		</article>


		<div class="Mb9u Fns3.2u W100p Mxw62u">
			<%- include('./_includes/components/link-button.ejs',{
				url: "https://mlutcss.github.io/mlut/section-start.html#kssref-start-main-usage",
				text: "Try now",
				icon: "right-triangle"
			}) %>
		</div>

	</div>
</section>

<%# Arts section %>

<%
	const artsCSS = {
		card:"W90p Mxw100u Apcr1 sm_W45p lg_W26p -Ctx-art -S105p_h Tf_h Tsd-$longTs",
		artWrapper:"W100p Apcr1 Bdrd5u Bd1;s;$accent850 ^art:h_Bdc-$brand Bgc-$blueGray M0;0;3u Ov-h",
		artCaption:"M0;0;3u Txa-c C-$accent850 ^art:h_C-$brand Tsd-$shortTs"
	}
%>


<section id="arts" class="Bgc-$core550">
	<div class="D-f M-a Jc-c Ai-c Fld-c P16u;0  wrapper">
		<h2 class="<%= sectionHeader %> C-$accent900">
			CSS Arts
		</h2>

		<p class="C-$accent850 Txa-c P0;3u M0;0;9u md_Mxw60vw lg_Mxw40vw">
			Discover the artistic possibilities of mlut with these beautiful pure CSS creations
		</p>

		<div class="W100p M0;0;5u Gap5u D-f Jc-c Ai-c Fld-r Flw-w">

			<%# arts %>

			<% for (let art of it.arts) {%>
				<article class="<%= artsCSS.card%>">
					<div class="<%= artsCSS.artWrapper%>">
						<%- include(`./_includes/components/arts/${art.filename}.ejs`)%>
					</div>
					<h3 class="<%= artsCSS.artCaption%>">
						<%= art.caption %>
					</h3>
				</article>
			<%}%>

	</div>

</section>
